In [1]:
import pandas as pd
import numpy as np

In [2]:
bas_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
aka_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
rat_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [5]:
bas = pd.read_csv(bas_url, sep='\t', low_memory=False)

In [6]:
aka = pd.read_csv(aka_url, sep='\t', low_memory=False)

In [7]:
rat = pd.read_csv(rat_url, sep='\t', low_memory=False)

In [8]:
bas = bas.replace({'\\N':np.nan})
bas.value_counts()

tconst      titleType     primaryTitle                            originalTitle                           isAdult  startYear  endYear  runtimeMinutes  genres
tt0025509   tvSeries      Les Misérables                          Les misérables                          0        1934       1934     279             Drama                        1
tt21412978  tvSeries      Zveroboy                                Zveroboy                                0        2022       2022     47              Crime,Drama,Mystery          1
tt21429808  tvMiniSeries  Pereval Dyatlova: Okhotniki za pravdoy  Pereval Dyatlova: Okhotniki za pravdoy  0        2020       2020     23              Documentary,History          1
tt21429866  tvMiniSeries  Hubble                                  Hubble                                  0        2012       2013     15              Comedy                       1
tt21430642  tvMiniSeries  Trump Unprecedented                     Trump Unprecedented                     0        2022       2022     60              Documentary                  1
                                                                                                                                                                                   ..
tt10196382  tvMiniSeries  Into the Unknown: Making Frozen 2       Into the Unknown: Making Frozen 2       0        2020       2020     43              Documentary,Family           1
tt10196412  tvSeries      Jonas Thinks                            Jonas Thinks                            0        2014       2017     5               Talk-Show                    1
tt10196500  tvSeries      Turquoise Fever                         Turquoise Fever                         0        2019       2019     43              Family,Reality-TV,Western    1
tt10196566  tvMiniSeries  Robson Green's Australian Adventure     Robson Green's Australian Adventure     0        2015       2015     44              Documentary                  1
tt9916216   tvSeries      Kalyanam Mudhal Kadhal Varai            Kalyanam Mudhal Kadhal Varai            0        2014       2017     22              Romance                      1
Length: 45464, dtype: int64

In [9]:
aka = aka.replace({'\\N':np.nan})

In [10]:
rat = rat.replace({'\\N':np.nan})

In [11]:
bas.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1231696
endYear           9145412
runtimeMinutes    6765673
genres             427647
dtype: int64

In [12]:
bas.dropna(subset=['runtimeMinutes'], inplace = True)

In [13]:
bas.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 1
startYear           37754
endYear           2429063
runtimeMinutes          0
genres              67428
dtype: int64

In [14]:
bas.dropna(subset=['genres'], inplace = True)

In [15]:
bas.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           36413
endYear           2363199
runtimeMinutes          0
genres                  0
dtype: int64

In [16]:
bas.duplicated().sum()

0

In [17]:
bas['titleType'].value_counts()

tvEpisode       1069587
short            577037
movie            368425
video            175565
tvMovie           88536
tvSeries          86950
tvSpecial         16660
tvMiniSeries      16188
tvShort            9411
videoGame           304
Name: titleType, dtype: int64

In [18]:
bas[bas['titleType'].str.contains
    ('tvEpisode|short|video|tvMovie|tvSeries|tvSpecial|tvMiniSeries|tvShort|videoGame')
    ==False]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"
...,...,...,...,...,...,...,...,...,...
9241529,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9241613,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9241654,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9241681,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9241714,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [19]:
bas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2408663 entries, 0 to 9241763
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 183.8+ MB

In [20]:
bas['startYear'].value_counts()

2017    126618
2018    124873
2016    121044
2015    114400
2019    114253
         ...
1893         2
1889         2
1874         1
1883         1
1885         1
Name: startYear, Length: 148, dtype: int64

In [21]:
bas.dropna(subset=['startYear'], inplace = True)

In [22]:
bas['startYear'] = bas['startYear'].astype(int)

In [27]:
bas = bas[bas['startYear'] > 2000]

In [24]:
#bas['startYear'] = bas['startYear'].astype(object)

In [28]:
bas['startYear'].value_counts()

Series([], Name: startYear, dtype: int64)