In [1]:
import pandas as pd

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [4]:
title_basics = pd.read_csv('Data/title_basics.csv.gz')
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [5]:
title_basics.drop(['titleType', 'originalTitle', 'isAdult', 'endYear'], axis = 1, inplace=True)
title_basics.head()

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70,Drama
2,tt0069049,The Other Side of the Wind,2018,122,Drama
3,tt0088751,The Naked Monster,2005,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,Crime and Punishment,2002,126,Drama

In [6]:
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002,126,Drama,[Drama]
...,...,...,...,...,...,...
83822,tt9914942,Life Without Sara Amat,2019,74,Drama,[Drama]
83823,tt9915872,The Last White Witch,2019,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
83824,tt9916170,The Rehearsal,2019,51,Drama,[Drama]
83825,tt9916190,Safeguard,2020,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
83826,tt9916362,Coven,2020,92,"Drama,History","[Drama, History]"

In [7]:
exploded_genres = title_basics.explode('genres_split')
exploded_genres

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70,Drama,Drama
2,tt0069049,The Other Side of the Wind,2018,122,Drama,Drama
...,...,...,...,...,...,...
83825,tt9916190,Safeguard,2020,95,"Action,Adventure,Thriller",Action
83825,tt9916190,Safeguard,2020,95,"Action,Adventure,Thriller",Adventure
83825,tt9916190,Safeguard,2020,95,"Action,Adventure,Thriller",Thriller
83826,tt9916362,Coven,2020,92,"Drama,History",Drama
83826,tt9916362,Coven,2020,92,"Drama,History",History

In [8]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [9]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [10]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [11]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [12]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [13]:
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

In [14]:
genres = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                      'Genre_ID': genre_id_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [15]:
from sqlalchemy.types import *

key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()

bas_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [16]:
connection = "mysql+pymysql://root:root@localhost/movies"
engine = create_engine(connection)

In [17]:
if database_exists(connection):
    print('It exists.')
else:
    create_database(connection)
    print('Database created.')

It exists.

In [18]:
title_basics.to_sql('title_basics', engine, dtype = bas_schema, if_exists = 'replace', index = False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `runtimeMinutes`, genres, genres_split) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(runtimeMinutes)s, %(genres)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020, 'runtimeMinutes': 70, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018, 'runtimeMinutes': 122, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'primaryTitle': 'Crime and Punishment', 'startYear': 2002, 'runtimeMinutes': 126, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'primaryTitle': 'The Wandering Soap Opera', 'startYear': 2017, 'runtimeMinutes': 80, 'genres': 'Comedy,Drama,Fantasy', 'genres_split': ['Comedy', 'Drama', 'Fantasy']}, {'tconst': 'tt0104278', 'primaryTitle': 'Flaming Ears', 'startYear': 2013, 'runtimeMinutes': 84, 'genres': 'Fantasy,Sci-Fi', 'genres_split': ['Fantasy', 'Sci-Fi']}, {'tconst': 'tt0108549', 'primaryTitle': 'West from North Goes South', 'startYear': 2004, 'runtimeMinutes': 96, 'genres': 'Comedy,Mystery', 'genres_split': ['Comedy', 'Mystery']}  ... displaying 10 of 83827 total bound parameter sets ...  {'tconst': 'tt9916190', 'primaryTitle': 'Safeguard', 'startYear': 2020, 'runtimeMinutes': 95, 'genres': 'Action,Adventure,Thriller', 'genres_split': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'primaryTitle': 'Coven', 'startYear': 2020, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genres_split': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [19]:
title_ratings = pd.read_csv('Data/title_ratings.csv.gz')
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1924
1  tt0000002            5.8       260
2  tt0000005            6.2      2551
3  tt0000006            5.1       175
4  tt0000007            5.4       798

In [20]:
tmdb_data = pd.read_csv('Data/tmdb_results_combined.csv.gz')
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.filmymen.us/2022/11/in-mood-for-lo...,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.104,2037.0,PG

In [21]:
tmdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2511 entries, 0 to 2510
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2511 non-null   object
 1   adult                  2509 non-null   float64
 2   backdrop_path          1316 non-null   object
 3   belongs_to_collection  196 non-null    object
 4   budget                 2509 non-null   float64
 5   genres                 2509 non-null   object
 6   homepage               243 non-null    object
 7   id                     2509 non-null   float64
 8   original_language      2509 non-null   object
 9   original_title         2509 non-null   object
 10  overview               2459 non-null   object
 11  popularity             2509 non-null   float64
 12  poster_path            2228 non-null   object
 13  production_companies   2509 non-null   object
 14  production_countries   2509 non-null   object
 15  release_date           2494 non-null   object
 16  revenue                2509 non-null   float64
 17  runtime                2509 non-null   float64
 18  spoken_languages       2509 non-null   object
 19  status                 2509 non-null   object
 20  tagline                1059 non-null   object
 21  title                  2509 non-null   object
 22  video                  2509 non-null   float64
 23  vote_average           2509 non-null   float64
 24  vote_count             2509 non-null   float64
 25  certification          798 non-null    object
dtypes: float64(9), object(17)
memory usage: 510.2+ KB

In [22]:
tmdb_data.drop(['adult', 'backdrop_path', 'belongs_to_collection', 'genres', 'homepage',
          'id', 'original_language', 'original_title', 'overview', 'popularity', 
          'poster_path', 'production_companies', 'production_countries', 'release_date', 
          'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 
          'vote_average', 'vote_count'], axis = 1, inplace=True)
tmdb_data.head()

     imdb_id      budget     revenue certification
0          0         NaN         NaN           NaN
1  tt0113026  10000000.0         0.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694    150000.0  12854953.0            PG

In [23]:
tmdb_data.drop([0], axis = 0, inplace = True)
tmdb_data.head()

     imdb_id      budget     revenue certification
1  tt0113026  10000000.0         0.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694    150000.0  12854953.0            PG
5  tt0118852         0.0         0.0             R

In [24]:
title_ratings.to_sql('title_ratings', engine, index=False, if_exists='replace')

477282

In [25]:
genres.to_sql('genres', engine, index=False, if_exists='replace')

26

In [26]:
title_genres.to_sql('title_genres', engine, index=False, if_exists='replace')

156630

In [27]:
tmdb_data.to_sql('tmdb_data', engine, index=False, if_exists='replace')

2510

In [28]:
q='''SHOW TABLES;'''
pd.read_sql(q, engine)

  Tables_in_movies
0              bas
1           genres
2     title_basics
3     title_genres
4    title_ratings
5        tmdb_data